<!DOCTYPE html>
<html>
<head>
  <title>SOI Bookstore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
	    <%= image_tag("logo.png") %>
	
	   <span class="title"><%= @page_title || "Bookstore" %></span>
	  </div>
	  <div id="columns">
	    <div id="side">
		<div id="cart">
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, id:'cart') do %>
					<%= render @cart %>
				<% end %>
			<% end %>
		</div>
	      <ul>
	        <li><%= link_to "Home", store_path %></li>
	       
					<% if session[:user_id] == nil %>
					<li><%= link_to 'Admin Login', login_path %></li>
					<% end %>
	      </ul>
			<br/>
			
			<br/>
			<% if session[:user_id] %>
			Welcome, <%= User.find(session[:user_id]).name %>
				<ul>
					<li><%= link_to 'Orders', orders_path %></li>
					<li><%= link_to 'Products', products_path %></li>
					<li><%= link_to 'Users', users_path %></li>
				</ul>
				<%= button_to 'Logout', logout_path, method: :delete %>
			<% end %>
	    </div>
	    <div id="main">
		
		<%= yield %>
		<!-- rails yield function -->
		
		</div>
	  </div>
		
</body>
</html>
